* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2f3;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: none;
    background: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#brandList {
    margin-top: 15px;
    font-size: 16px;
}